<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048651580002-tmhrovrn9sq5tnepnf12p62qeiv3t886.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048651580002-tmhrovrn9sq5tnepnf12p62qeiv3t886</string>
	<key>API_KEY</key>
	<string>AIzaSyDEFzBlWmT4FGNsMV-YI9FbkDeSqq5TBkc</string>
	<key>GCM_SENDER_ID</key>
	<string>1048651580002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.centennialcollege.MAPD714-FinalTest</string>
	<key>PROJECT_ID</key>
	<string>test-91e3b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-91e3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048651580002:ios:4ed2b1b1c3c22f544b473b</string>
	<key>DATABASE_URL</key>
	<string>https://test-91e3b.firebaseio.com</string>
</dict>
</plist>